.pieDePagina {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: #BBEAD3;
}

.pieDePagina__div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.pieDePagina__div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.pieDePagina__div3 {
    grid-area: 1 / 3 / 2 / 4;
}