.contenedor-productos {
    display: flex;
    justify-content: start;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background-color: #BBEAD3;
    margin: 10px 0px 10px 0px;
    border: 5px solid #A4D6A7;
}

.contenedor-productos::-webkit-scrollbar {
    height: 8px;
}