.contenedor-productos {
    display: flex;
    justify-content: start;
    flex-wrap: nowrap;
    /* Evita que los elementos se envuelvan */
    gap: 20px;
    padding: 10px;
    overflow-x: auto;
    /* Activa el scroll horizontal */
    overflow-y: hidden;
    /* Oculta el scroll vertical */
    white-space: nowrap;
    /* Asegura que los elementos se mantengan en una sola línea */
    scroll-behavior: smooth;
    /* Desplazamiento suave */
    width: 100%;
    /* Asegúrate de que no exceda el ancho del contenedor padre */
    box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
    background-color: #BBEAD3;

}

.contenedor-productos::-webkit-scrollbar {
    display: none;
    /* Altura de la barra de desplazamiento horizontal */
}